<!DOCTYPE html>
<html lang="ja" translate="no">
  <head>
    <title>Kazutama-net アプリ / 測定データ</title>
    {% include "common_header.html" %}
    <script src="assets/papaparse.min.js"></script>
  </head>
  <body class="light">
    <header>
      <nav>
        <h5 class="max center-align">Kazutama-net アプリ / 測定データ</h5>
      </nav>
    </header>
    <main class="responsive" style="max-width: 400px">
      <div style="margin: 16px 0">
        <h3 class="small">CSVファイルからインポート</h3>
      </div>
      <section>
        <div class="grid">
          <div class="s12 m12">
            <button class="small-round">
              <span>ファイルを読み込む</span>
              <input type="file" id="importFile">
            </button>
            <dialog id="dialog-overwrite" class="modal">
              <h5>測定データの上書き</h5>
              <div>既に同一のデータが存在します。上書き保存してよろしいですか？</div>
              <nav class="right-align no-space">
                <button data-ui="#dialog-overwrite" id="cancelImportButton" class="transparent link">キャンセル</button>
                <button data-ui="#dialog-overwrite" id="continueImportButton">上書き</button>
              </nav>
            </dialog>
          </div>
        </div>
      </section>
    </main>
    <script>
      window.codeTables = {{ code_tables }};
    </script>
    <script src="assets/data.js"></script>
  </body>
</html>
