<!DOCTYPE html>
<html lang="ja" translate="no">
  <head>
    <title>Kazutama-net アプリ</title>
    {% include "common_header.html" %}
    <script src="assets/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="assets/datatables.css" />
    <link rel="stylesheet" href="assets/select.dataTables.css" />
    <script src="assets/datatables.js"></script>
    <script src="assets/dataTables.select.js"></script>
  </head>
  <body class="light">
    <header>
      <nav>
        <h5 class="max center-align">Kazutama-net アプリ</h5>
        <form method="POST" action="./logout">
          <button type="submit" class="circle transparent">
            <i>
              <svg
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
                />
              </svg>
            </i>
          </button>
        </form>
      </nav>
    </header>
    <!--
    <nav class="left">
      <a>
        <i>home</i>
        <div>Home</div>
      </a>
      <a>
        <i>search</i>
        <div>Search</div>
      </a>
      <a>
        <i>share</i>
        <div>share</div>
      </a>
    </nav>
    -->
    <main class="responsive">
      <section style="margin-top: 15px">
        <h4 class="small">SN：{{ device_id }} &nbsp; USER：{{ username }}</h4>
      </section>
      <hr class="large" />
      <section>
        <h5 class="small">測定結果</h5>
        <form id="filterForm">
          <fieldset>
            <legend>絞り込み条件</legend>
            <div class="grid">
              <div class="s12 m6">
                <div class="field label suffix border">
                  <select name="menu">
                    <option value="all">すべて</option>
                  </select>
                  <label>測定メニュー</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
              <div class="s12 m6">
                <div class="field label suffix border">
                  <select name="mode">
                    <option value="all">すべて</option>
                  </select>
                  <label>測定モード</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
              <div class="s12 m12">
                <fieldset>
                  <legend>検索期間</legend>
                  <div class="grid">
                    <nav class="s12 m12">
                      <label class="radio">
                        <input type="radio" name="period" value="all" checked />
                        <span>すべて</span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="period" value="latest" />
                        <span>最新</span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="period" value="range" />
                        <span>期間選択</span>
                      </label>
                    </nav>
                    <div class="s12 m6">
                      <div class="field label border">
                        <input type="date" name="rangeStartDate" />
                        <label>期間（開始）</label>
                      </div>
                    </div>
                    <div class="s12 m6">
                      <div class="field label border">
                        <input type="date" name="rangeEndDate" />
                        <label>期間（終了）</label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div>
                <button
                  type="submit"
                  class="small-round"
                  style="margin: 8px 2px; width: 280px; max-width: 80%"
                >
                  検索
                </button>
              </div>
            </div>
          </fieldset>
        </form>
        <table id="mmDataTable" class="stripe row-border order-column nowrap">
          <thead>
            <tr>
              <th>No.</th>
              <th>測定日時</th>
              <th>測定メニュー</th>
              <th>測定モード</th>
              <th>測定コード</th>
              <th>日本語名</th>
            </tr>
          </thead>
        </table>
      </section>
      <section style="margin-top: 32px; max-width: 640px">
        <h5 class="small">測定コード統計</h5>
        <table
          id="mmSummaryTable"
          class="stripe row-border order-column nowrap"
        >
          <thead>
            <tr>
              <th></th>
              <th>No.</th>
              <th>測定コード</th>
              <th>日本語名</th>
              <th>出現回数</th>
            </tr>
          </thead>
        </table>
      </section>
      <section>
        <form id="messageForm">
          <fieldset>
            <legend>カウンセリングメッセージ</legend>
            <div class="grid">
              <div class="s12 m6">
                <div class="field label suffix border">
                  <select name="msgtype">
                    <option>スピリチュアル</option>
                    <option>フロイト心理学</option>
                    <option>ユング心理学</option>
                    <option>アドラー心理学</option>
                    <option>占星術</option>
                    <option>禅宗</option>
                  </select>
                  <label>メッセージタイプ</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
              <div class="s12 m6">
                <div class="field label suffix border">
                  <select name="ai">
                    <option value="bedrock-claude3-haiku">
                      Claude 3 Haiku
                    </option>
                    <option>Mistral</option>
                    <option>Llama</option>
                  </select>
                  <label>AI モデル</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
              <div class="s12 m12">
                <fieldset>
                  <legend>メッセージの長さ</legend>
                  <nav>
                    <label class="radio">
                      <input type="radio" name="msglen" value="short" checked />
                      <span>一言（50文字程度）</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="msglen" value="medium" />
                      <span>短文（200文字程度）</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="msglen" value="long" />
                      <span>長文（400文字程度）</span>
                    </label>
                  </nav>
                </fieldset>
              </div>
              <div class="s12 m12">
                <button
                  id="generateButton"
                  type="submit"
                  class="small-round"
                  style="margin: 12px 0px; width: 280px; max-width: 80%"
                >
                  メッセージを生成
                </button>
              </div>
              <div class="s12 m12">
                <div class="field textarea border extra">
                  <progress
                    id="loadingProgress"
                    class="circle"
                    style="display: none"
                  ></progress>
                  <textarea id="messageTextArea" readonly></textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <script>
      window.codeTables = {{ code_tables }};
      window.deviceDataItems = {{ items }};
    </script>
    <script src="./assets/home.js"></script>
  </body>
</html>
