<!DOCTYPE html>
<html lang="ja" translate="no">
  <head>
    <title>Gen AI App Viewer</title>
    <style>
      .error {
        color: red;
        font-weight: bold;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <link
      href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"
    ></script>
    <script src="./assets/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="./assets/datatables.css" />
    <link rel="stylesheet" href="./assets/select.dataTables.css" />
    <script src="./assets/datatables.js"></script>
    <script src="./assets/dataTables.select.js"></script>
  </head>
  <body class="light">
    <header>
      <nav>
        <h5 class="max center-align">Gen AI App Viewer</h5>
      </nav>
    </header>
    <!--
    <nav class="left">
      <a>
        <i>home</i>
        <div>Home</div>
      </a>
      <a>
        <i>search</i>
        <div>Search</div>
      </a>
      <a>
        <i>share</i>
        <div>share</div>
      </a>
    </nav>
    -->
    <main class="responsive">
      {% if error_message %}
      <p class="error">Error: {{ error_message }}</p>
      {% endif %}
      <section>
        <h4>測定結果</h4>
        <div>
          <fieldset>
            <legend>絞り込み条件</legend>
            <div class="row">
              <div class="max">
                <div class="field label suffix border">
                  <select>
                    <option>すべて</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                  </select>
                  <label>測定メニュー</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
              <div class="max">
                <div class="field label suffix border">
                  <select>
                    <option>すべて</option>
                    <option>エーテルモード</option>
                    <option>アストラルモード</option>
                  </select>
                  <label>測定モード</label>
                  <i>arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="max">
                <div class="field middle-align">
                  <nav>
                    <label class="radio">
                      <input type="radio" name="radio4_" />
                      <span>すべて</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="radio4_" />
                      <span>最新</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="radio4_" />
                      <span>期間選択</span>
                    </label>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="max">
                <div class="field label border">
                  <input type="date" />
                  <label>期間（開始）</label>
                </div>
              </div>
              <div class="max">
                <div class="field label border">
                  <input type="date" />
                  <label>期間（終了）</label>
                </div>
              </div>
            </div>
          </fieldset>
          <button class="small-round">検索</button>
        </div>
        <table id="mmDataTable" class="stripe row-border order-column nowrap">
          <thead>
            <tr>
              <th></th>
              <th>No.</th>
              <th>測定日時</th>
              <th>測定メニュー</th>
              <th>測定モード</th>
              <th>測定コード</th>
              <th>日本語名</th>
            </tr>
          </thead>
        </table>
      </section>
      <section>
        <table
          id="mmSummaryTable"
          class="stripe row-border order-column nowrap"
        >
          <thead>
            <tr>
              <th></th>
              <th>No.</th>
              <th>測定コード</th>
              <th>日本語名</th>
              <th>出現回数</th>
            </tr>
          </thead>
        </table>
      </section>
      <div>
        <fieldset>
          <legend>Fill all fields</legend>
          <div class="row">
            <div class="max">
              <div class="field label suffix border">
                <select>
                  <option>スピリチュアル</option>
                  <option>フロイト心理学</option>
                  <option>ユング心理学</option>
                  <option>アドラー心理学</option>
                  <option>占星術</option>
                  <option>禅宗</option>
                </select>
                <label>メッセージタイプ</label>
                <i>arrow_drop_down</i>
              </div>
            </div>
            <div class="max">
              <div class="field label suffix border">
                <select>
                  <option>Mistral</option>
                  <option>Llama</option>
                  <option>Claude</option>
                </select>
                <label>AI モデル</label>
                <i>arrow_drop_down</i>
              </div>
            </div>
          </div>
        </fieldset>
        <button class="small-round">メッセージを生成</button>
        <div class="field textarea border large">
          <textarea readonly></textarea>
        </div>
      </div>
    </main>
    <script src="./assets/main.js"></script>
  </body>
</html>
