<!DOCTYPE html>
<html lang="ja" translate="no">
  <head>
    <title>Kazutama-net アプリ / ログイン</title>
    {% include "common_header.html" %}
  </head>
  <body class="light">
    <header>
      <nav>
        <h5 class="max center-align">Kazutama-net アプリ</h5>
      </nav>
    </header>
    <main class="responsive" style="max-width: 400px">
      <div style="margin: 16px 0">
        <h3 class="small">ログイン</h3>
      </div>
      {% if error == 'login_failed' %}
      <div id="snackbar" class="snackbar error top">
        <span
          >指定された端末の測定データが存在しないか、パスワードが間違っています。</span
        >
      </div>
      <script>
        window.onload = () => {
          ui("#snackbar", 3000);
        };
      </script>
      {% endif %}
      <section>
        <form id="loginForm" method="POST" action="./login">
          <div class="grid">
            <div class="s12 m12">
              <div class="field label border">
                <input type="text" name="device_id" />
                <label>端末ID</label>
              </div>
            </div>
            <div class="s12 m12">
              <div class="field label border">
                <input type="text" name="username" />
                <label>ユーザー名</label>
              </div>
            </div>
            <div class="s12 m12">
              <div class="field label border">
                <input type="text" name="user" pattern="[0-9]{1,2}" />
                <label>ユーザー No.</label>
              </div>
            </div>
            <!--
            <div class="s12 m12">
              <div class="field label border">
                <input type="password" name="password" />
                <label>パスワード</label>
              </div>
            </div>
            -->
            <div class="s12 m12">
              <button type="submit" class="small-round responsive large">
                ログイン
              </button>
            </div>
          </div>
        </form>
      </section>
      <hr class="large">
      <section>
        <div class="grid">
          <div class="s12 m12">
            <form action="./data" method="GET">
              <button type="submit" class="border small-round">測定データ インポート画面へ</button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
